@font-face {
    font-family: "aloreta";
    src: url(./Fonts/Aloreta-Marthin-Font/Aloreta\ Marthin.otf);
}
@font-face {
    font-family: "Archare";
    src: url(./Fonts/Archare-Font/archare.ttf);
}
@font-face {
    font-family: "Awesome";
    src: url(./Fonts/Awesome-Font-Family/AwesomeSerif-Regular.otf);
}
@font-face {
    font-family: "Burra";
    src: url(./Fonts/Burra-Font-Family/Burra-Regular.ttf);
}
@font-face {
    font-family: "Modern";
    src: url(./Fonts/Modern-Age-Font/ModernAge.otf);
}
@font-face {
    font-family: "Joker";
    src: url(./Fonts/Joker-Font/Gothic-Joker.ttf);
}
@font-face {
    font-family: "rigrofe";
    src: url(./Fonts/Rigrofe-Font/Rigrofe-Italic-BF642b85883d2fc.ttf);
}

@font-face {
    font-family: "valorant";
    src: url(./Fonts/VALORANT-Font/ValorantFont.ttf);
}
